html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: black;
}
body {
    display: flex;
    width: 1200px;
    height: 600px;
    border: solid black 1px;
    margin : 10px ;
    align-items: center;
    flex-flow: column;
    background-color: white;
}

.play-table{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    border : solid black 5px;
    border-radius: 10px;
    width: 800px;
    height: 532px;
    margin: 10px;
    background-image: url(table.jpeg);
    background-size: 100%;
}
.play-table div {
    width: 200px;
    height: 200px;
    background-color: white;
    border: solid purple 5px;
    margin: 5%;
    border-radius: 20%;
}
.computer-choice{
    background-image: url('int.png');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
.player-choice{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.player-table{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: auto;
    border: solid black 1px;
    align-items: center;
    margin: 10px;

}
.player-table div {
    border: solid black 1px;
    width: 125px;
    height: 125px;
    margin: 20px;;
}
.rock {
    background-image: url('rock.jpg');
    background-size: 100%;
}
.rock:hover {
    transform:scale(1.3);
    transition: all 0.1s;
}
.scissors{
    background-image:url('scissors.jpg');
    background-size: 140%;
    background-position: center;
}
.scissors:hover{
    transform:scale(1.3);
    transition: all 0.1s;
}
.paper{
    background-image:url('paper.jpg');
    background-size: 80%;
    background-position: top;
    background-repeat: no-repeat;
}
.paper:hover{
    transform:scale(1.3);
    transition: all 0.1s;
}
.showdown-button{
    display: block;
    height: 20%;
    width: 20%;
    font-size: 24px;
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid rgba(0, 0, 0, 0.5); 1px;
    color: rgba(0,0,0,0.5);
    background-image: none;
}
.showdown-button-playing{
    transform: scale(1.2);
    font-family: fantasy;
    color: red;
    transition:all 0.2s;
    border: solid red 3px;
    box-shadow: yellow;

}
.showdown-button-playing:hover{
    transform: scale(1.4);
    transition:all 0.2s;
    color: white;
    background-image:url('fire.jpg');
    background-size: 60%;
    background-color: rgba(0, 0, 0, 1);
}
.win-text{
    font-size: 12px;
    color: white;
    transition: all 0s;
    font-family: sans-serif;

}
.reset-button {
    display: block;
    float:left;
    border: solid black 1px;
    margin: 10px;
    font-size: 12px;
    padding-left: 5px;
}
